
<div class="container my-5">
    <div class="container bg-white shadow w-50 rounded rounded-5">
        <div class="d-flex flex-column">
            <h1 class="text-center">Login</h1>
            <hr>
            <p class="text-center">Autentica't amb la compta de Google de l'institut</p> 
            <div class="container">
                <p class="text-center">Clic aquí: 
                    <a class="btn btn-info border border-3 border-primary rounded rounded-5 mx-4" href="http://localhost/projecte-daw/backend_php/api/login/oauth.php">
                        <fa-icon [icon]="faGoogle"></fa-icon>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>