<div class="modal-dialog modal-xl">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title text-center" id="exampleModalLabel">Formulari de nou espai</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="container">
                <h5 class="text-center fw-bold">Afegir un nou espai</h5>
                <div class="m-5 p-5 shadow rounded rounded-2 border border-2">
                    <form name="formulario-busqueda" [formGroup]="form" (submit)="afegirEspai()">
                        <div class="mx-4 row">
                            <label for="nom" class="fw-bold col-3">Nom:</label>
                            <div class="col-9">
                                <input type="text" class="form-control" [class.is-invalid]="nom?.hasError('required') && nom?.touched" id="nom" name="nom" formControlName="nom">
                                <span class="text-danger" *ngIf="nom?.hasError('required') && nom?.touched">El camp és obligatori.</span>
                            </div>
                        </div>
                        <div class="mt-3 pb-3 mx-4">
                            <input type="submit" class="btn btn-dark float-end" value="Enviar">
                        </div>
                    </form>
                </div>
                <div class="container text-center" *ngIf="errorMessage || successMessage">
                    <span *ngIf="errorMessage" class="text-danger fw-bold">{{errorMessage}}</span>
                    <span *ngIf="successMessage" class="text-success fw-bold">{{successMessage}}</span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tancar</button>
        </div>
    </div>
</div>
