<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="logged">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Dashboard</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" [routerLink]="['/dispositius']">Dispositius</a>
        <a class="nav-link" [routerLink]="['/persones']">Persones</a>
        <a class="nav-link" [routerLink]="['/espais']">Espais</a>
        <a class="nav-link" [routerLink]="['/admin']" *ngIf="user.admin === '1'">Administració</a>       
      </div>
    </div>
    <div class="ml-auto" *ngIf="logged">
      <div class="navbar-nav">
        <span class="text-light nav-link">Hola, {{user.nom}}</span><button class="nav-link btn btn-dark" (click)="logout()">Surt</button>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>